@layer utilities {
  
  :root {
    --c1: #e4491c;
    --c2: #003246;
    --c3: #fef0d6;
    --grid-color: theme('colors.gray.300'); /* gainsboro */
    --cell-size: 1em;
    --line-thickness: 1px;
    
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply md:absolute w-8 h-8 md:w-9 md:h-9 bg-muted rounded-full font-mono font-medium text-center text-base inline-flex items-center justify-center -indent-px border-4 mr-2 border-background;
    @apply md:ml-[-50px] md:mt-[-4px];
    content: counter(step);
  }

  .chunk-container {
    @apply shadow-none;
  }

  .chunk-container::after {
    content: "";
    @apply absolute -inset-4 shadow-xl rounded-xl border;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .border-grid {
    @apply border-border/50 dark:border-border border-dashed;
  }

  .container-wrapper {
    @apply max-w-[1400px] min-[1800px]:max-w-screen-2xl min-[1400px]:border-x border-border/70 dark:border-border mx-auto w-full border-dashed;
  }

  .container {
    @apply px-4 xl:px-6 mx-auto max-w-screen-2xl;
  }
  
  .bg-grid-pattern {
    background: 
      conic-gradient(from 90deg at 1px 1px, #0000 25%, gainsboro 0%) -0.5px -0.5px/1em 1em,
      linear-gradient(45deg, #0000 calc(50% - 0.5px), gainsboro 0 calc(50% + 0.5px), #0000 0) 0 0/2em 2em,
      linear-gradient(-45deg, #0000 calc(50% - 0.5px), gainsboro 0 calc(50% + 0.5px), #0000 0) 0 0/2em 2em;
  }
}

@utility grid-background {
  background: 
    conic-gradient(from 90deg at var(--line-thickness) var(--line-thickness), 
      transparent 25%, var(--grid-color) 0%),
    linear-gradient(45deg, 
      transparent calc(50% - 0.5*var(--line-thickness)), 
      var(--grid-color) 0 calc(50% + 0.5*var(--line-thickness))), 
    linear-gradient(-45deg, 
      transparent calc(50% - 0.5*var(--line-thickness)), 
      var(--grid-color) 0 calc(50% + 0.5*var(--line-thickness)));
  background-size: 
    var(--cell-size) var(--cell-size),
    calc(2*var(--cell-size)) calc(2*var(--cell-size)),
    calc(2*var(--cell-size)) calc(2*var(--cell-size));
  background-position:
    calc(-0.5*var(--line-thickness)) calc(-0.5*var(--line-thickness)),
    0 0,
    0 0;
}
@utility no-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@utility mask-composite-exclude {
  mask-composite: exclude;
  -webkit-mask-composite: xor;
}



@utility islamic-pattern-bg {
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%230C6E4E' fill-opacity='0.05'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}